*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
    --transition:all 400ms ease ;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    padding: 10px;
}
body{
    padding: 0;
    margin:0;
    color: black;
    background-size:cover;
	background-position: center;
    /* background:linear-gradient(to right,#0b6a92,rgb(192, 165, 13)); */
    /* padding: 0px 12px ; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    background-color: #f2f7f8;
}
.menu-icons .fa-bars{
    display: none;
}
.menu-icons label{
    display: none;
}
.checkbtn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    display: none;
}
.leftside{
    position:fixed;
    background-color: #cbccce;
    margin-left: -11px;
    margin-top: -155px;
    width: 21%;
    /* max-width: auto; */
    height: 760px;
    padding-left: 30px;
    font-family: Segoe UI;
    color: black;
    border-radius: 0px 0px 60px 0px;
}
.leftside .myimage img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(197, 191, 171);
}
.leftside ul li a{
    color:black;
}
.leftside ul li a::after{
    color: tomato;
    content: '';
    width: 0%;
    height: 5px;
    background-color:blue;
    display: block;
}
.leftside ul li a:hover::after{
    width: 25%;
}
@media screen AND (max-width: 600px){
    /* .leftside{
        position: relative;
        margin: 0 auto;
        width: var(--container-width-sm);
        margin-left: 10px;
        margin-top: 10px;
        height: 700px;
    } */
    .leftside .myimage img{
        object-fit: cover;
        width: 150px;
        height: 150px;
        /* border-radius: 30%; */
        /* border: 4px solid blue; */
    }
    .leftside ul li a:hover::after{
        width: 35%;
    }
    .nav-links ul li a{
        /* position: relative; */
        display: inline;
        list-style: none;
        padding: 0px;
    }
    .footer{
        display: none;

    }
    .fa-bars{
        /* display: flex; */
        position: fixed;
        margin-top: 50px;
        width: 70%;
        font-size: 40px;

    }
    .menu-icons label{
        display: flex;
    }
    nav{
        padding: 0px 50px;
    }
    .checkbtn{
        display: block;
    }
    nav .leftside{
        width: var(--container-width-sm);
        position: relative;
        margin: 0 auto;
        height: 700px;
        padding: 50px;
        background-color: #8cbcd0;
        /* position: fixed; */
        top: 140px;
        left: -100%;
        text-align: left;
        transition: 0.5s ease;
        visibility: inherit;
    }
    #check:checked ~ .leftside{
        left: 0;
    }
    
}
@media  (min-width:600px) AND (max-width: 1024px){
    .leftside{
        position: relative;
        margin: 0 auto;
        display: inline-flex;
        height: 500px;
        width: var(--container-width-md);
        margin-left: 50px;
        margin-top: 13px;
        font-size: 23px;
    }
    .footer{
        display: none;
        color: black;
    }
    .nav-links ul li {
        display: flex;
        /* flex-direction: column; */
        list-style: none;
        padding: 2px;
    }
    .header{
        margin-top: 30px;
        margin-left: 30px;
    }
    .nav-links{
        margin-top: 160px;
        margin-left: -200px;
    }
}
/* =======================home========================== */
#home{
    display: grid;
    margin-top: 150px;
    margin-left: 600px;
}
.greatings{
    font-size: 50px;
    font-weight: bold;
}
.cv{
    background:#cbccce;
    padding: 10px;
    border-radius: 4px;
    margin-top: 80px;
    width: 20%;
}

/* .cv:hover{
    border:2px solid greenyellow;
    background: rgb(122, 129, 230);
    transition:0s;
    color: #0b6a92;
} */
.cv a:hover{
    color: #0b6a92;
}
@media screen AND (max-width: 600px){
    /* .allcontainer{
        display: grid;
    } */
    #home{
        display: grid;
        margin-top: 200px;
        margin-left: 50px;
        /* width: var(--container-width-sm); */
        width: 90%;
    }
    .greatings{
        font-size: 20px;
        font-weight: bold;
    }
    .cv{
        width: 35%;
    }
}
@media  (min-width:600px) AND (max-width: 1024px){
    #home{
        display: grid;
        margin-top: 30px;
        margin-left: 50px;
        /* width: var(--container-width-sm); */
        width: 90%;
    }
    .cv{
        width: 40%;
        font-size: 40px;
    }
}

/* ===========================abot me=============== */
#about{
    display: grid;
    margin-left: 380px;
    margin-top:240px;
    gap: 20px;
    font-size: 30px;
}
.abt{
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.who{
    font-size: 15px;
}
.a_details{

    width: var(--container-width-sm);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;}
 .a_details p{
    font-weight: bold;
    font-size: 20;
 }

.design1{
    width: var(--container-width-sm);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.web{
    /* background:linear-gradient(to right,#0b6a92,rgb(192, 165, 13)); */
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 5px 0 0  rgb(95, 104, 148);
    transition: 1000ms;
    /* width: 100%;
    height: 300px; */
    
}
.web:hover{
transform: rotateY(45deg);
color: #8cbcd0;
}
/* .fa-database{
    justify-content: center;
    margin-left: 40px;
    border: 4px solid rgb(236, 184, 14);
} */

.proj{
    background: #cbccce;
    border-radius: 5px;
    height: 2rem;
    width: var(--container-width-sm)
}
.hireme{
    /* background-color: rgb(127, 192, 90); */
    width: 16%;
    background-color: #cbccce;
    margin-left: 200px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.hireme a:hover{
    color: #0b6a92;
}
@media screen AND (max-width: 600px){
        #about{
            display: grid;
            margin-left: 50px;
            /* font-size: 10px; */
        }
        .a_details{
            font-weight: bold;
            width: var(--container-width-sm);
            font-size: 20px;
        }
        .design1{
            grid-template-columns: repeat(1, 1fr);
            gap: 4rem;
        }
        .hireme{
            width: 40%;
            margin-left: 60px;
        }
        
}
@media  (min-width:600px) AND (max-width: 1024px){
    #about{
        margin-left:30px;
    }
    /* .a_details{
       color: black;
    } */
    .design1{
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .proj{
        width: var(--container-width-md);
    }
    .hireme{
        width: 35%;
        margin-left: 60px;
    }
}
/* ===================services=================== */
#realworks{
    margin-left: 380px;
    margin-top: 200px;
    display: grid;
}
.works{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.works p{
    font-size: 15px;
}
.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
}
.serve1{
    margin-top: 60px;
    background-color: #cbccce;
    border: 4px solid black;
    width: var(--container-width-lg);
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    transition: 1000ms;
    /* box-shadow: 0 5px 0 0  rgb(195, 223, 36); */
}
.serve1:hover{
    transform: rotateY(45deg);
}
@media screen AND (max-width: 600px){
#realworks{
    margin-left: 50px;
    margin-top: 150px;
    display: grid;
}
.services{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2em;
}
}
@media  (min-width:600px) AND (max-width: 1024px){
    #realworks{
        margin-left: 50px;
        margin-top: 150px;
        display: grid;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
    }
    .works{
        font-size: 28px;
    }
}

/* ==========================skills======================== */
#myski{
    margin-top: 150px;
    margin-left: 380px;
    display: grid;
}
.headerskills{
    font-size: 40px;
    font-weight: bold;
    /* margin-left: 200px; */
}
.skillsContainer{
    font-size: 20px;
}
.indetailsskills{
    margin-top: 60px;
    background:#cbccce;
    width: 18%;
    font-size: 25px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.indetailsskills a:hover{ 
    color: #0b6a92;
}
    @media screen AND (max-width: 600px){
        #myski{
            margin-left: 50px;
            display: grid;
        } 
        .indetailsskills{
            width: 55%;
        }
        .headerskills{
            font-size: 30px;
            font-weight: bold;
            /* margin-left: 200px; */
        }
        .skillsContainer{
            font-size: 15px;
        }
    }
@media  (min-width:600px) AND (max-width: 1024px){
    #myski{
        margin-left: 50px;
        display: grid;
    }
    .indetailsskills{
        width: 25%;
    }
}
/* ==============================works======================= */
#mywork{
    margin-left: 380px;
    margin-top: 150px;
    display: flex;
    /* gap: 10px; */

}
.titlework{
    font-size: 40px;
}
.workcontainer{
    display: grid;
}
.workphoto{
    margin-left: 20px;
    margin-top: 100px;
}
.workphoto img{
    width: 90%;
    height: 300px;
    border-radius: 8px;
    transition: 1000ms;
}
.workphoto img:hover{
    transform: rotateX(45deg);
    color: #afc72b;
}
.hide {
    /* display: none; */
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }
      
  .workphoto:hover + .hide {
    margin-top: 100px;
    display: block;
    color: red;
  }
.develop{
    font-size: 35px;
}
.indepth{
    font-size: 20px;
}
.gitlink{
    font-size: 20px;
}
.gitlink a{
    cursor: pointer;
    color: #0b6a92;
}
@media screen AND (max-width: 600px){
    #mywork{
        margin-left: 50px;
        margin-top: 150px;
        display: grid;
        /* gap: 10px; */
    
    }
    .workphoto{
        margin-left: 0px;
        margin-top: 100px;
    }
    .develop{
        font-size: 20px;
    }
    .indepth{
        font-size: 15px;
    }
    .gitlink{
        font-size: 15px;
    }
}
@media  (min-width:600px) AND (max-width: 1024px){
    #mywork{
    display: grid;
    margin-left: 50px;
    width: var(--container-width-md);
    }
}

/* =====================blogs==================== */
#blogs{
    margin-left: 380px;
    margin-top: 200px;
    display: grid;
    gap: 10px;
}
.esd{
    font-size: 40px;
    font-weight: bold;
}
.blogcontainer{
    margin-top: 40px;
    /* background:linear-gradient(to right,#b14ac5,rgb(72, 99, 185)); */
    border-radius: 8px;
    background-color: #cbccce;
    border: 4px solid black;
    padding: 10px;
    width: var(--container-width-lg);
}
.bloglowercontainer{
    margin-top: 30px;
    display: flex;
    gap: 25px;
}
.main

log{
    font-size: 15
    px;
}
.readmore span{
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.comment .fa-comment{
    font-size: 30px;
    cursor: pointer;
}
.share .fa-share-nodes{
    font-size: 30px;
    cursor: pointer;

}
.maincontainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
}
@media screen AND (max-width: 600px){
    #blogs{
    margin-left: 50px;
    }
    .maincontainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1em;
    }
}

@media  (min-width:600px) AND (max-width: 1024px){
    #blogs{
        margin-left: 50px;
        }
        .readmore span{
            padding-left: 10px;
            font-size: 13px;
            cursor: pointer;
        }
}

/* ====================contact me====================== */
#getin{
    margin-left: 380px;
    margin-top: 150px;
    display: flex;

}
.getinto{
    font-size: 40px;
    font-weight: bold;
}
.anyemail{
    /* background:#f5f6f8; */
    padding: 30px;
    border-radius: 9px;
    /* border: 4px solid black; */
}
.anyemail i{
    /* background-color: black; */
    height: 3rem;
   padding: 1rem;
    width: 4rem;
    /* margin-top: 60px; */
    /* background:linear-gradient(to right,#b14ac5,rgb(72, 99, 185)); */
    border-radius: 8px;
    background:#cbccce;
    /* border: 4px solid black; */
    /* padding: 10px; */
    /* width: var(--container-width-lg); */
}

.container1{
    margin-left: 20px;
    margin-top: 220px;
    width: 75%;
}
#form {
    /* width: 100%; */
    padding: 20px;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 9px;
    /* border: 4px solid black; */
}
#form button {
    padding: 10px;
    margin-top: 10px;
    margin-left: 200px;
    width: 20%;
    color: black;
    background:rgb(194, 194, 229);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#form button:hover{
    color: #0b6a92
    ;
}
.input-control {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.input-control textarea{
    border: 2px solid #f0f0f0;
	border-radius: 4px; 
    background-color: #cbccce;
    /* background-color: #2c98f0 transparent;
    border-color: #2c98f0; */
    width: 100%;
}
.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
    background-color: #cbccce;
    /* border-color: #2c98f0;
    background-color: #2c98f0 transparent; */
}
.input-control input:focus {
    outline: 0;
}
.input-control.success textarea {
    border-color:green;
    border-width: 5px;
}

.input-control.error textarea {
    border-color: #ff3860;
}

.input-control.success input {
    border-color:green;
    border-width: 5px;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
}
@media screen AND (max-width: 600px){
#getin{
    margin-left: 50px;
    margin-top: 150px;
    display: grid;
    gap: 10px;
}
.anyemail{
    padding: 10px;
    width: var(--container-width-sm);
    /* width: 70%; */
}
.container1{
    margin-top: 10px;
    width: var(--container-width-sm);
    margin-left: -10px;
}
.getinto{
    font-size: 20px;
    font-weight: bold;
}
#form button {
    margin-left: 20px;
}
}
@media  (min-width:600px) AND (max-width: 1024px){
    #getin{
        margin-left: 40px;
        width: var(--container-width-sm);
    }
    /* .container1{
        width: 50%;
    } */
}

/* =============================footer======================== */
.lowfooter{
    margin-left: 400px;
    margin-top: 100px;
}
.social{
    font-size: 20px;
    text-align: center;
}
.socialmedia{
    display: flex;
    gap: 30px;
    margin-left: 40%;
    transition: 1000ms;
}
.fa-facebook-f:hover{
    color: #111111;
}
.fa-linkedin-in:hover{
    color: #0a0a0a;
}
.fa-whatsapp:hover{
    color: #0e0d0d;
  
}
.fa-facebook-f{
    font-size: 30px;
    color: #0b6a92;

}
.fa-linkedin-in{
    font-size: 30px;
    color: #0b6a92;

}
.fa-whatsapp{
    font-size: 30px;
    color: #0b6a92;

}
@media screen AND (max-width: 600px){
    .lowfooter{
        margin-left: 50px;
    }
    .socialmedia{
        display: flex;
        gap: 30px;
        margin-left: 30%;
    }
}

@media  (min-width:600px) AND (max-width: 1024px){
.lowfooter{
    margin-left: 50px;
}
}